* {
   padding: 0px !important;
   margin: 0px !important;
   box-sizing: border-box !important;
   font-family: Verdana, sans-serif;
}
.navbar {
   background-color: #0072d3 !important;
}
.navbar .navbar-brand:hover {
   color: lightsalmon;
   transition: 1s;
}
.navbar .menu .nav-link:hover {
   color: orange;
}
.navbar .menu .active {
   color: orange !important;
}
/*** For Mobile ****/
@media only screen and (max-width: 767px){
   /**** Header ***/
   .header .navbar .container-fluid {
      height: 60px;
   }
   .navbar .container-fluid .navbar-toggler {
      position: absolute;
      left: 20px;
      top: 15px
   }
   nav .navbar-brand {
      position: absolute;
      left: 35%;
      top: 15px;
      font-weight: 600;
   }
   nav #search-button .fas {
      color:  whitesmoke;
      position: absolute;
      right: 20px;
      top: 20px;
   }
   .navbar .menu {
      position: absolute;
      top: 60px;
      background-color: #0072d3;
      width: 100%;
   }
   .navbar .menu .nav-link {
      font-size: 11px;
      line-height: 2;
   }
   .navbar .menu .active {
      color: orange !important;
   }
   .navbar .menu .nav .fas {
      display: none;
   }
   /*** About Us ***/
   .about .title {
      font-weight: 600;
      font-size: 24px;
   }
   .about .fas {
      color: #0072d3;
   }
   .about .paragraph p {
      margin-bottom: 20px !important;
      font-size: 12px;
   }
   .about .paragraph .active {
      text-decoration: none;
      color: orange;
   }
   .about .about-team p {
      font-size: 12px;
   }

   /***** Footer ***/
   .footer {
      background-color: black;
   }
   .footer .footer1 h4 {
      font-size: 16px;
   }
   .footer .footer1 p {
      font-size: 11px;
   }
   .footer-form {
      display: flex;
      margin-top: 15px;
      position: relative;
   }
   .footer-input {
      width: 100%;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px double white;
      background-color: black;
      color: white;
      font-size: 11px;
   }
   .footer .footer-submit {
      position: absolute;
      bottom: 4px;
      left: 75%;
      width: 25%;
      font-size: 12px;
      padding-bottom: 1px;
      border: none;
   }
   .footer-form .footer-input::placeholder{
      font-size: 12px;
      padding-left: 10px;
   }
   .footer-form .footer-submit:hover {
      background-color: yellow;
   }
   .footer .footer2 p {
      font-size: 14px;
   }
}
/***For Tablet ***/
@media screen and (min-width: 768px) and (max-width: 1023px) {
 
   /*** Header ***/
   .header .navbar .container-fluid {
      height: 60px;
   }
   .navbar .navbar-brand {
      font-weight: 600;
      padding-left: 40px !important;
   }
   .navbar #search-button .fas {
      display: none;
   }
   .navbar .menu .nav .fas {
      display: inline-block;
      font-size: 12px;
      color: rgb(194, 194, 194);
   }
   .navbar .menu .nav .nav-link {
      font-size: 12px;
   }
   .navbar .menu .active {
      color: orange !important;
   }
   .navbar .menu {
      position: absolute;
      right: 20px;
   }
   /*** About Us ***/
   .about .title {
      font-weight: 600;
      font-size: 24px;
   }
   .about .fas {
      color: #0072d3;
   }
   .about .paragraph p {
      margin-bottom: 20px !important;
      font-size: 12px;
   }
   .about .paragraph .active {
      text-decoration: none;
      color: orange;
   }
   .about .about-team p {
      font-size: 12px;
   }
   /**** Footer **/
   .footer {
      background-color: black;
   }
   .footer .footer1 h4 {
      font-size: 16px;
   }
   .footer .footer1 p {
      font-size: 11px;
   }
   .footer-form {
      display: flex;
      margin-top: 15px;
      position: relative;
   }
   .footer-input {
      width: 100%;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px double white;
      background-color: black;
      color: white;
      font-size: 11px;
   }
   .footer .footer-submit {
      position: absolute;
      bottom: 4px;
      left: 75%;
      width: 25%;
      font-size: 12px;
      padding-bottom: 1px;
      border: none;
   }
   .footer-form .footer-input::placeholder{
      font-size: 12px;
      padding-left: 10px;
   }
   .footer-form .footer-submit:hover {
      background-color: yellow;
   }
   .footer .footer2 p {
      font-size: 14px;
   }
}
/*** For Laptop ***/
@media screen and (min-width: 1024px) {
   /**  header **/
   .header .navbar .container-fluid {
      height: 60px;
   }
   .navbar .navbar-brand {
      font-weight: 600;
      position: absolute;
      left: 20%;
      top: 15px;
   }
   .navbar .menu {
      position: absolute;
      right: 18%;
   }
   .navbar #search-button .fas {
      display: none;
   }
   .navbar .menu .nav .fas {
      display: inline-block;
      font-size: 12px;
      color: rgb(221, 220, 220);
   }
   .navbar .menu .nav .nav-link {
      font-size: 12px;
   }
   .navbar .menu .active {
      color: orange !important;
   }
   /** about us  **/
   .about {
      margin: 0% 20% !important;
   }
   .about .title {
      font-weight: 600;
      font-size: 24px;
   }
   .about .fas {
      color: #0072d3;
   }
   .about .paragraph p {
      margin-bottom: 20px !important;
      font-size: 11px;
   }
   .about .paragraph .active {
      text-decoration: none;
      color: orange;
   }
   .about .about-team p {
      font-size: 12px;
   }
   /** footer **/
   .footer {
      background-color: black;
   }
   .footer .footer1 {
      padding: 0 20% !important;
   }
   .footer .footer1 h4 {
      font-size: 11px;
   }
   .footer .footer1 p {
      font-size: 9px;
   }
   .footer-form {
      display: flex;
      margin-top: 15px;
      position: relative;
   }
   .footer-input {
      width: 100%;
      border: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border-bottom: 1px double white;
      background-color: black;
      color: white;
      font-size: 11px;
   }
   .footer .footer-submit {
      position: absolute;
      bottom: 4px;
      left: 75%;
      width: 25%;
      font-size: 11px;
      padding-bottom: 1px;
      border: none;
   }
   .footer-form .footer-input::placeholder{
      font-size: 11px;
      padding-left: 10px;
   }
   .footer-form .footer-submit:hover {
      background-color: yellow;
   }
   .footer .footer2 p {
      font-size: 14px;
   }
}